{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
    <!-- Navigation Bar -->
    <nav>

    </nav>
    <div id="main-section">
        <!-- Room Section -->
        <nav id="sidebar">
            <h4>Rooms</h4>
            {% for room in rooms %}
                <p class="select-room">{{room|title}}</p>
            {% endfor %}
        </nav>
        <!-- Message area -->
        <div id="rightside-panel">
            <!-- Display Message -->
            <div id="display-message-section">

            </div>
            <!-- INput Message -->
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">SEND</button>
            </div>
            <div>
              <a href="/logout"> 
                  <button class="btn btn-primary btn-sm">
                  logout
                  </button>
              </a>
          </div>
        </div>
    </div>
    <!-- Get Username -->
    <script type="text/javascript">
        const username = `{{username}}`
    </script>
    <!-- SocketIO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Custom SocketIO JS -->
    <script src="{{url_for('static', filename='scripts/socketio.js')}}"></script>
    

  {% endblock %}