{% from 'form_macros.html' import displayField %}
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

    <h2>Login Page</h2>
    <p>Enter your username and password to enter WhatsChatt </p>

    <form action="{{ url_for('auth.login')}}", method="POST">
         
        {{displayField(form.username, 'Enter Username', autocomplete='off', autofocus=true) }}

        {{displayField(form.password, 'Enter Password') }}


        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-warning">
        </div>

        {{ form.csrf_token }}
    </form>

    <hr>
    <div>
        <p>Not registered? Create An account. <a href={{url_for('auth.register')}}>Register here</a>.</p>
    </div>

{% endblock %}