{% from 'form_macros.html' import displayField %}
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

    <h2>Login Page</h2>
    <p>Enter your username and password: </p>

    <form action="{{ url_for('auth.login')}}", method="POST">
         
        {{displayField(form.username, 'Enter Username', autocomplete='off', autofocus=true) }}

        {{displayField(form.password, 'Enter Password') }}


        <div>
            {{ form.submit_btn }}
        </div>

        {{ form.csrf_token }}
    </form>

    <div>
        <a href="/"> 
            <button class="btn btn-primary btn-sm">
            Sign Up instead
            </button>
        </a>
    </div>

{% endblock %}