.wrapper {
    display: flex;
}

#main-section {
    overflow: hidden; /* Makee this div contain its floated children */
    width: 100%;
   
}

#sidebar {
    margin-top: 2em;
    float: left; /* Make this div as wide as its contents */
    height: 100%;
    padding-left: 1em;
    padding-top: 3em;
    padding-right:1em;
    border-right: 0.5px solid #898c91;
    background: #042331;
    color: #85c6ff;
    width: 250px;
    transition: all .5s ease;
   

}

#sidebar p {
    padding-left: .5em;
    padding-right:2em;
}

#sidebar p:hover {
    background-color: #ffc107;
    padding-left: 50px;
    transition: .6s ease-in-out;
}

#sidebar h4 {
    padding-left: 0.5em;
    font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
}


#sidebar.view-sidebar {display: none;}

#show-sidebar-button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    color: #335177;
}

#sidebar a svg {
    margin-right: 16px;
}

@media (max-width: 567px) {
    #sidebar {
        display: none;
    }

    #sidebar.view-sidebar {
        display: block;
    }

    #show-sidebar-button {
        visibility: visible;
        opacity: 1;
        color: #ffff;
    }
    #display-message-section{
        /* margin-top: 3em;
        min-height: 80vh;
        max-height: 80vh;
        overflow-y: hidden; */
        min-height: 84vh;
    }


}

.pattern{
    background-image: url('/static/images/Polygon Luminary.png');
}

.cursor-pointer {
    cursor: pointer;
}

.nav-link{
    position: relative;
    float: right;
}

#rightside-pannel {
    overflow: hidden; /* Make this div take up the rest of the horizontal space, and no more */
    height: 100vh;
}

#display-message-section {
    margin-top: 3em;
    min-height: 81vh;
    max-height: 80vh;
    overflow-y: auto; /*Make  this section scrolable */
    background-image: url('/static/images/background1.png');
    

}

#input-area {
    padding-left: 0em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    bottom: 1.5px;
    height: 10vh;
}

#send_message
{
    height: 10vh;
}

input[type=text]:focus{
    border-color: #ffc107;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #ffc107;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.alert-msg{
    padding-top: 5px;
    display: flex;
    background: aqua;
    flex-flow: nowrap;
    width: 290px;
    height: 38px;
    border-radius: 15px;
    margin-top: 15px;
    padding-left: 15px;
    text-align: center;
}

.others-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: #2C6CBD;
    border-width: 0.5px;
    border-style: solid;
    background-color: #111b39;
    border-radius: 36px 42px 42px 0px;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.my-msg {
    margin-left:7em;
    margin-right:1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: #127b7b;
    border-width: 1px;
    border-style: solid;
    background: #19709d;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    border-radius: 38px 42px 0px 38px;
}

.system-msg {
    border-radius: 5px;
    border-color: #206ED2;
    border-width: 0.5px;
    border-style: solid;
    margin-right:7em;
    margin-left: 1em;
    padding: 1.5em 0.5em 0.5em 1em;
    color: #fff;
    font-size:0.8em;
    width: 150px;
    background: #ffc107;
}

.system-msg.a{
    color: #ffc107
}

.timestamp {
    color: #000000;
    font-size:0.7em;
    padding-left: 15px;
}

.message_data{
    color: #fff;
    padding-left: 15px;
}

.other-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #206ED2;
    padding-left: 15px;
}

.other_timestamp{
    color: #62e3e3;
    font-size:0.7em;
    padding-left: 15px;
}

.my-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #FF6B13;
    padding-left: 15px;
}

#msg-input {
    border-color: #ffc107;
    border-width: 5px;
}

#get-username {
    display: none !important;
}

a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom-width: 20px;
    border-bottom-style: dotted;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-right: 1px solid rgba(255,255,255,.1);
    transition: .4s;

}
